html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header {
    color: #1b445f;
    padding: 20px;
    font-family: "Anton", sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-align: left;
}

.importantText {
    color: #f90011;
    font-family: "Anton", sans-serif;
    font-size: 30px;
    text-align: center;
}

.newBackgroundColour {
    background-color: olivedrab;
}



.footer {
    color: white;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding: 20px;
}
