html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    max-width: 1000px;
    background-color: #ee561a;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    color: #1b445f;
    padding: 20px;
    font-family: "Anton", sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-align: left;git

}


.importantText {
    color: #f90011;
    font-family: "Anton", sans-serif;
    font-size: 30px;
    text-align: center;
}

.newBackground {
    background-color: #ffffff;
}

.changeBackgroundButton {
    color: black;
    background-color: #1b445f98;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    padding: 10px;
}


.footer {
    color: white;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding: 20px;
}
